
.a{
    display: flex;
    height: 40px;
    width: 100%;
    background-color: rgb(147, 166, 247);
    flex-direction: row-reverse;
    box-sizing: border-box;
    position: sticky;
}
.b{
    position: absolute;
    display: flex;
    margin: 8px;
    color: black;
    font-size: 1.5em;
    
}
ul{
    margin: 10px;
}
img{
    position: sticky;
}
.z{
    background-color: rgb(147, 166, 247);
    height: 30px;
    position: relative;
    top: 5px;
    font-size: 1em ;
    display: flex;
    justify-content: center;
    align-items: center;
}