<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/stylesheet/index.css">
</head>
<body>
    <div class="container">
        <% if (dayname === "saturday" || dayname === "sunday") { %>
            <div class="head">
                <h1 style="font-size: 10em;"><%= dayname %></h1>
                <p class="p">It's a <%= hello %></p>
            </div>
        <% } else { %>
            <div class="head">
                <h1 style="font-size: 10px;"><%= dayname %></h1>
                <p class="p">It's a <%= hello %></p>
            </div>
        <% } %>
    </div>
</body>
</html>
