body{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh ;
    box-sizing: border-box;
    background-color: black;
    width: 750px;
    

}
h1{
    font-size: 6em;
    color: #222;
    position:relative ;
}
h1::before{
    content: "ONLY $";
    position: absolute;
    overflow: hidden;
    color: aliceblue;
    display: flex;
    justify-content: end;
}
