body{
    margin: 0;
    padding: 0;
    background-color: #0e1538;
    width: 100vh;
    height: 100vh;
    display: flex;   
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}
.a{
   height: 400px;
   width: 300px;
   background-color: #0e1538;
   position: relative;
}

.a::before{
    content: "";
    position: absolute;
    inset: -3px;
    background: linear-gradient(45deg,#00ccff,#0e1538,#0e1538,#d400d4) ;
   box-shadow: 0 0 0 20px #070c23;
}
