body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.banner{
    height: 50%;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.content{

    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image1,.image2,.image3,.image4{
    position: absolute;
}
.dot{
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
    margin: 5px;
}
.dots{
    display: flex;
    position: absolute;
   top: 72vh;
}