.form-auth {
  background-color: white;
  padding: 3.125em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
}

.signup-auth {
  color: rgb(77, 75, 75);
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 0.5em;
}

.form--input-auth {
  width: 100%;
  margin-bottom: 1.25em;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0.8em;
  font-family: 'Inter', sans-serif;
  outline: none;
}

.form--input-auth:focus {
  border: 1px solid #639;
  outline: none;
}

.form--marketing-auth {
  display: flex;
  margin-bottom: 1.25em;
  align-items: center;
}

.form--marketing-auth > input {
  margin-right: 0.625em;
}

.form--marketing-auth > label {
  color: grey;
}

.checkbox, input[type="checkbox"] {
  accent-color: #639;
}

.form--submit-auth {
  width: 50%;
  padding: 0.625em;
  border-radius: 5px;
  color: white;
  background-color: #639;
  border: 1px dashed #639;
  cursor: pointer;
}

.form--submit-auth:hover {
  color: #639;
  background-color: white;
  border: 1px dashed #639;
  cursor: pointer;
  transition: 0.5s;
}
.rfc{
  width: 100%;
  height: 100%;

 display: flex;
  justify-content: end;
 
  align-items: center;
  background-image: image-set("public/—Pngtree—3d rendering of an art_5795989.jpg");
 background-size: cover;
}
.form-auth{
  width: 400px;
   margin: 200px;
  
}